<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Домашняя страница - Snippetbox</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
        <nav>
            <a href="/">Домашняя страница</a>
        </nav>
        <main>
            <h2>Последние заметки</h2>
            <p>Здесь пока ничего нет!</p>
        </main>
    </body>
</html>